<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 id="title" th:text="${article.title}">Title</h1>
        <div class="formLayout">
            <label for="citation">Citation</label>
            <p id="citation" th:text="${article.citation}">citation</p>
            <label for="author">Author</label>
            <p id="author" th:text="${article.author}">author</p>
            <label for="journal">Journal</label>
            <p id="journal" th:text="${article.journal}">isbn</p>
            <label for="year">Year</label>
            <p id="year" th:text="${article.year}">year</p>
            <label for="number">Number</label>
            <p id="number" th:text="${article.number}">series</p>
            <label for="pages">Pages</label>
            <p id="pages" th:text="${article.pages}">volume</p>
            <label for="month">Month</label>
            <p id="month" th:text="${article.month}">month</p>
            <label for="note">Note</label>
            <p id="note" th:text="${article.note}">note</p>
            <label for="volume">Volume</label>
            <p id="volume" th:text="${article.volume}">address</p>
        </div>
        <div th:if="${message}">
            <h3 th:text="${message}"></h3>
            <!--            <p>Id: <strong th:text="${book.id}"></strong></p>
                        <p>TODO :  Tänne linkkejä lisätyn viitteen tarkasteluun...</p>-->
            <a href="#" th:href="@{/articles/{id}/bibtex(id=${article.id})}">BibTeX</a>
        </div>
    </body>
</html>