<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <div th:if="${bibtex}">
            <pre th:text="${bibtex}"></pre>
        </div>
        <div th:if="${message}" style="display: none">
            <h3 th:text="${message}"></h3>
        </div>
    </body>
</html>