<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>       
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <pre th:if="${bibtex}" th:text="${bibtex}"></pre>
        <div class="container" align="center">
            
            <div th:if="${message}" style="display: none">
                <h3 th:text="${message}"></h3>
            </div>
            
            <form role="form" th:method="delete" th:action="@{__${#httpServletRequest.requestURI}__}">
                <button type="submit" name="submit" value="Delete" class="btn btn-danger">Delete</button>
            </form>
            
            <form role="form" method="POST" th:action="@{/}">
                <div class="form-group">
                    <label for="tag">New tag</label>
                    <input id="tag" class="form-control" type="text" name="tag"/>
                </div>
                <div class="btn-group">
                    <button type="submit" name="submit" value="New tag" class="btn btn-default">Add new tag</button>
                </div>
            </form>
        </div>
    </body>
</html>