<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 id="title" th:text="${book.title}">Title</h1>
        <div class="formLayout">
                <label for="author">Author</label>
                <p id="author" th:text="${book.author}">author</p>
                <label for="publisher">Publisher</label>
                <p id="publisher" th:text="${book.publisher}">publisher</p>
                <label for="year">Year</label>
                <p id="year" th:text="${book.year}">year</p>
                <label for="volume">Volume</label>
                <p id="volume" th:text="${book.volume}">volume</p>
                <label for="series">Series</label>
                <p id="series" th:text="${book.series}">series</p>
                <label for="address">Address</label>
                <p id="address" th:text="${book.address}">address</p>
                <label for="edition">Edition</label>
                <p id="edition" th:text="${book.edition}">edition</p>
                <label for="month">Month</label>
                <p id="month" th:text="${book.month}">month</p>
                <label for="note">Note</label>
                <p id="note" th:text="${book.note}">note</p>
                <label for="isbn">ISBN</label>
                <p id="isbn" th:text="${book.isbn}">isbn</p>
        </div>
        <div th:if="${message}">
            <h3 th:text="${message}"></h3>
<!--            <p>Id: <strong th:text="${book.id}"></strong></p>
            <p>TODO :  Tänne linkkejä lisätyn viitteen tarkasteluun...</p>-->
        </div>
    </body>
</html>