<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body >
        <div class="container" align="center">

            <!--Navigation-->
            <div th:replace="fragments/navbar :: navbar"></div>

            <h1>Bibtexdatabase</h1>  
             <form role="form" method="GET" th:action="@{/search/keyword}">
                <div class="form-group">
                    <input class="filterinput form-control" id="author" type="text" name="searchtext"/>
                </div>
            </form>
            <form role="form" method="GET" th:action="@{/search/tag}">
                <div class="form-group">
                    <label for="tag"></label>
                    <input id="tag" class="form-control" type="text" name="tag"/>
                </div>
            </form>
            <form role="form" method="GET" th:action="@{/download}">
                <button type="submit" name="submit" value="download" class="btn btn-info">Download as BibTeX</button>
                <input id="downloadmessage" class="form-control" type="text" th:value="${downloadmessage}" name="downloadmessage" style="display: none"/>
            </form>
            
            <ul class="list-group" id="list">
                <li class="list-group-item" th:each="article : ${articles}">
                    <a href="#" th:href="@{/articles/{id}/bibtex(id=${article.id})}" th:text="${article.title} + ', ' + ${article.author}"></a>
                </li>
                <li class="list-group-item" th:each="book : ${books}">
                    <a href="#" th:href="@{/books/{id}/bibtex(id=${book.id})}" th:text="${book.title} + ', ' + ${book.author}"></a>
                </li>
                <li class="list-group-item" th:each="booklet : ${booklets}">
                    <a href="#" th:href="@{/booklets/{id}/bibtex(id=${booklet.id})}" th:text="${booklet.title} + ', ' + ${booklet.author}"></a>
                </li>
                <li class="list-group-item" th:each="inbook : ${inbooks}">
                    <a href="#" th:href="@{/inbooks/{id}/bibtex(id=${inbook.id})}" th:text="${inbook.title} + ', ' + ${inbook.author}"></a>
                </li>               
                <li class="list-group-item" th:each="techreport : ${techreports}">
                    <a href="#" th:href="@{/techreports/{id}/bibtex(id=${techreport.id})}" th:text="${techreport.title} + ', ' + ${techreport.author}"></a>
                </li>
                <li class="list-group-item" th:each="mastersthesis : ${mastersthesises}">
                    <a href="#" th:href="@{/mastersthesises/{id}/bibtex(id=${mastersthesis.id})}" th:text="${mastersthesis.title} + ', ' + ${mastersthesis.author}"></a>
                </li>
                <li class="list-group-item" th:each="inproceeding : ${inproceedings}">
                    <a href="#" th:href="@{/inproceedings/{id}/bibtex(id=${inproceeding.id})}" th:text="${inproceeding.title} + ', ' + ${inproceeding.author}"></a>
                </li>
                <li class="list-group-item" th:each="conference : ${conferences}">
                    <a href="#" th:href="@{/conferences/{id}/bibtex(id=${conference.id})}" th:text="${conference.title} + ', ' + ${conference.author}"></a>
                </li>
                <li class="list-group-item" th:each="incollection : ${incollections}">
                    <a href="#" th:href="@{/incollections/{id}/bibtex(id=${incollection.id})}" th:text="${incollection.title} + ', ' + ${incollection.author}"></a>
                </li>
                <li class="list-group-item" th:each="manual : ${manuals}">
                    <a href="#" th:href="@{/manuals/{id}/bibtex(id=${manual.id})}" th:text="${manual.title} + ', ' + ${manual.author}"></a>
                </li>
                <li class="list-group-item" th:each="misc : ${miscs}">
                    <a href="#" th:href="@{/miscs/{id}/bibtex(id=${misc.id})}" th:text="${misc.title} + ', ' + ${misc.author}"></a>
                </li>
                <li class="list-group-item" th:each="phdthesis : ${phdtheses}">
                    <a href="#" th:href="@{/phdthesises/{id}/bibtex(id=${phdthesis.id})}" th:text="${phdthesis.title} + ', ' + ${phdthesis.author}"></a>
                </li>
                <li class="list-group-item" th:each="proceedings : ${proceedings}">
                    <a href="#" th:href="@{/proceedings/{id}/bibtex(id=${proceedings.id})}" th:text="${proceedings.title} + ', ' + ${proceedings.editor}"></a>
                </li>
                <li class="list-group-item" th:each="unpublished : ${unpublished}">
                    <a href="#" th:href="@{/unpublisheds/{id}/bibtex(id=${unpublished.id})}" th:text="${unpublished.title} + ', ' + ${unpublished.author}"></a>
                </li>
            </ul>

            <!--Content-->

        </div>

        <!--JavaScript imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="javascript/filter.js"></script>
    </body>
</html>