<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body >
        <div class="container" align="center">

            <!--Navigation-->
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="#" th:href="@{/}">Home</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
                            Add bibtex <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" ><a href="#" th:href="@{/books/new}">Add new book</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/articles/new}">Add new article</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/inproceedings/new}">Add new inproceedings</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/mastersthesises/new}">Add new mastersthesis</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/techreports/new}">Add new techreport</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h1>Bibtexdatabase</h1>  
            <form role="form" action="#">
                <div class="form-group">
                    <input class="filterinput form-control" id="author" type="text" name="searchtext"/>
                </div>
            </form>

            <ul class="list-group" id="list">
                <li class="list-group-item" th:each="article : ${articles}">
                    <a href="#" th:href="@{/articles/{id}/bibtex(id=${article.id})}" th:text="${article.title} + ', ' + ${article.author}"></a>
                </li>
                <li class="list-group-item" th:each="book : ${books}">
                    <a href="#" th:href="@{/books/{id}/bibtex(id=${book.id})}" th:text="${book.title} + ', ' + ${book.author}"></a>
                </li>
                <li class="list-group-item" th:each="techreport : ${techreports}">
                    <a href="#" th:href="@{/techreports/{id}/bibtex(id=${techreport.id})}" th:text="${techreport.title} + ', ' + ${techreport.author}"></a>
                </li>
                <li class="list-group-item" th:each="mastersthesis : ${mastersthesises}">
                    <a href="#" th:href="@{/mastersthesises/{id}/bibtex(id=${mastersthesis.id})}" th:text="${mastersthesis.title} + ', ' + ${mastersthesis.author}"></a>
                </li>
                <li class="list-group-item" th:each="inproceeding : ${inproceedings}">
                    <a href="#" th:href="@{/inproceedings/{id}/bibtex(id=${inproceeding.id})}" th:text="${inproceeding.title} + ', ' + ${inproceeding.author}"></a>
                </li>
            </ul>

            <!--Content-->

        </div>

        <!--JavaScript imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="javascript/filter.js"></script>
    </body>
</html>