<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container" align="center">

            <!--Navigation-->
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="#" th:href="@{/}">Home</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
                            Add bibtex <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" ><a href="#" th:href="@{/books/new}">Add new book</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/articles/new}">Add new article</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/inproceedings/new}">Add new inproceedings</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/mastersthesis/new}">Add new mastersthesis</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/techreport/new}">Add new techreport</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!--Content-->
            <h1>Bibtexdatabase</h1>   
        </div>

        <!--JavaScript imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>