<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <!--Navigation-->
            <nav>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="#" th:href="@{/}">Home</a></li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true">
                            Add bibtex <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" ><a href="#" th:href="@{/books/new}">Add new book</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/articles/new}">Add new article</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/inproceedings/new}">Add new inproceedings</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/mastersthesises/new}">Add new mastersthesis</a></li>
                            <li role="presentation" ><a href="#" th:href="@{/techreports/new}">Add new techreport</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <h1 id="title" th:text="${inproceeding.title}">Title</h1>
            <div class="formLayout">
                <label for="author">Author</label>
                <p id="author" th:text="${inproceeding.author}">author</p>
                <label for="booktitle">Journal</label>
                <p id="booktitle" th:text="${inproceeding.booktitle}">booktitle</p>
                <label for="publisher">publisher</label>
                <p id="publisher" th:text="${inproceeding.publisher}">author</p>
                <label for="year">Year</label>
                <p id="year" th:text="${inproceeding.year}">year</p>
                <label for="volume">Volume</label>
                <p id="volume" th:text="${inproceeding.volume}">volume</p>
                <label for="series">Series</label>
                <p id="series" th:text="${inproceeding.series}">series</p>
                <label for="address">address</label>
                <p id="address" th:text="${inproceeding.address}">address</p>
                <label for="month">Month</label>
                <p id="month" th:text="${inproceeding.month}">month</p>
                <label for="note">Note</label>
                <p id="note" th:text="${inproceeding.note}">note</p>
                <label for="key">Key</label>
                <p id="key" th:text="${inproceeding.key}">key</p>

            </div>
            <div th:if="${message}">
                <h3 th:text="${message}"></h3>
                <a href="#" th:href="@{/inproceedings/{id}/bibtex(id=${inproceeding.id})}">BibTeX</a>
            </div>
        </div>
    </body>
</html>