<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            
            <!--Navigation-->
            <div th:replace="fragments/navbar :: navbar"></div>
            
            <h1 id="title" th:text="${manual.title}">Title</h1>
            <div class="form-group">
                <label for="author">Author</label>
                <p id="author" th:text="${manual.author}">author</p>
            </div>
            <div class="form-group">
                <label for="organization">Organization</label>
                <p id="organization" th:text="${manual.organization}">organization</p>
            </div>           
            <div class="form-group">
                <label for="address">Address</label>
                <p id="address" th:text="${manual.address}">address</p>
            </div>
            <div class="form-group">
                <label for="edition">Edition</label>
                <p id="edition" th:text="${manual.edition}">edition</p>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <p id="year" th:text="${manual.year}">year</p>
            </div>
            <div class="form-group">
                <label for="month">Month</label>
                <p id="month" th:text="${manual.month}">month</p>
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <p id="note" th:text="${manual.note}">note</p>
            </div>
            <div class="form-group">
                <label for="key">Key</label>
                <p id="key" th:text="${manual.key}">key</p>
            </div>
        </div>
        <!--JavaScript imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <div th:if="${message}">
            <h3 th:text="${message}"></h3>
            <a href="#" th:href="@{/manuals/{id}/bibtex(id=${manual.id})}">BibTeX</a>
        </div>
    </body>
</html>