<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Add new article</h1>
        <div class="formLayout">
            <form method="POST" th:action="@{/articles}">
                <label for="author">Author</label>
                <input id="author" type="text" name="author"/>

                <label for="title">Title</label>
                <input id="title" type="text" name="title"/>

                <label for="journal">Journal</label>
                <input id="journal" type="text" name="journal"/>

                <label for="year">Year</label>
                <input id="year" type="text" name="year"/>

                <label for="number">Number</label>
                <input id="number" type="text" name="number"/>

                <label for="pages">Pages</label>
                <input id="pages" type="text" name="pages"/>

                <label for="month">Month</label>
                <input id="month" type="text" name="month"/>

                <label for="note">Note</label>
                <input id="note" type="text" name="note"/>

                <label for="volume">Volume</label>
                <input id="volume" type="text" name="volume"/>
                
                <input type="submit" value="Add new article"/>
            </form>
        </div>
        <div th:if="${message}">
            <h3 th:text="${message}"></h3>
            <p>Id: <strong th:text="${article.id}"></strong></p>
            <p>TODO :  Tänne linkkejä lisätyn viitteen tarkasteluun...</p>
        </div>
    </body>
</html>