<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>bibtexdatabase</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            
            <!--Navigation-->
            <div th:replace="fragments/navbar :: navbar"></div>
            
            <h1 id="title" th:text="${techreport.title}">Title</h1>
            <div class="formLayout">
                <label for="citation">Citation</label>
                <p id="citation" th:text="${techreport.citation}">citation</p>
                <label for="author">Author</label>
                <p id="author" th:text="${techreport.author}">author</p>
                <label for="institution">Institution</label>
                <p id="institution" th:text="${techreport.institution}">institution</p>
                <label for="year">Year</label>
                <p id="year" th:text="${techreport.year}">year</p>
                <label for="type">Type</label>
                <p id="type" th:text="${techreport.type}">type</p>
                <label for="address">address</label>
                <p id="address" th:text="${techreport.address}">address</p>
                <label for="number">Number</label>
                <p id="number" th:text="${techreport.number}">number</p>
                <label for="month">Month</label>
                <p id="month" th:text="${techreport.month}">month</p>
                <label for="note">Note</label>
                <p id="note" th:text="${techreport.note}">note</p>
                <label for="key">Key</label>
                <p id="key" th:text="${techreport.key}">key</p>
            </div>
            <div th:if="${message}">
                <h3 th:text="${message}"></h3>
                <a href="#" th:href="@{/techreports/{id}/bibtex(id=${techreport.id})}">BibTeX</a>
            </div>
        </div>
    </body>
</html>
